<div class="text-layout">
    <h1>DecimalPipe y porcentaje</h1>
    <p>
        Pipes incluidos en Angular -  usualmente en el Common Module
    </p>
</div>

<div class="p-grid">
    <div class="p-col-4">
        <p-card header="Ventas Netas"
                subheader="del presente año">   
            <i class="pi pi-dollar"></i>
            <!-- Poner toda la parte entera 1 y dos decimales 2-2  -->
            {{(ventaNetas + 1000000) | number: '1.2-2'}} 
        </p-card>
    </div>

    <div class="p-col-4">
        <p-card header="Ventas Brutas"
                subheader="del presente año">   

            <!-- currency = para el simbolo; 'CAD' = peso canadiense; 'symbol-narrow' = simbolo de forma corta;  '1.0-4' =  decimales que vandes de el 0 hasta el 4-->
            {{(ventaNetas + 2000000) | currency: 'CAD':'symbol-narrow': '1.0-4'}} 
        </p-card>
    </div>

    <div class="p-col-4">
        <p-card header="Ganancia porcentual"
                subheader="del presente año">   

            <!--percent con 2 digitos 2 decimanes -->
            {{ porcentaje | percent:'2.2-2'}} 
        </p-card>
    </div>
</div>